.pageContentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-width: 1024px;
    padding: 2rem;
    margin-top: 120px;
    gap: 2rem;

    .heading {
        font-size: 2rem;
        font-weight: bold;
    }
}