.article-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #00000d;

        p {
            font-size: 1rem;
        }

        h1 {
            font-size: 2rem;
            padding-bottom: 10px;
        }
    }

    p {
        text-align: justify;
    }

}