.wrapper {
    width: 100%;
    max-width: 1024px;
    height: 70px;
    background-color: #ddd;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 1px 7px 20px -9px rgba(8, 8, 8, 1);
    -moz-box-shadow: 1px 7px 20px -9px rgba(8, 8, 8, 1);
    box-shadow: 1px 7px 20px -16px rgba(8, 8, 8, 1);
    z-index: 2;

    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .item {
            display: block;
            border-right: 1px solid #0000003c;
            width: 120px;
            margin: 10px 0;
            text-align: center;
            font-size: 1.2rem;
            transition: all .2s ease-in;

            &.isActive {
                color: rgb(179, 0, 0);
            }

            &:last-child {
                border-right: none;
            }

            &:hover {
                color: rgb(179, 0, 0);
                transform: translateY(-3px);
            }
        }
    }

    @media (max-width: 640px) {
        display: none;
    }

    @media(max-width:1024px) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
}